.r0, .r1 {
  border-bottom: solid black 4px;
}
.c0, .c1 {
  border-right: solid black 4px;

}
.cell {
  height: 250px;
  width: 250px;
  font-size: 160px;
  color: red;
  text-align: center;
  font-weight: bold;
  text-shadow: 4px 4px blue;
}
